*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
/* header styles section  */
#header{
    background-color: rgba(229, 84, 115, 0.05);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    padding-top: 20px;
    margin: 0 auto;
}
#head-text,#d-flex{
    flex: 1;
    padding-bottom: 20px;
}
#d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
#heading{
    color: #272727;
    font-size: 50px;
    font-weight: 800;
    padding-bottom: 30px;
}
button{
    margin-top: 30px;
    border-radius: 5px;
    background: #E55473;
    color: rgba(255, 255, 255, 1);    
    padding: 16px 35px;
    font-weight: 800;
    border: 0;
    font-size: large;
}
button:hover{
    background-color: #b92d4b;
}
#heading-para{
    /* padding-top: 30px; */
    padding-right: 20px;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding-bottom: 20px;
}
/* featured section starts here  */
#feature{
    padding-top: 100px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
#feature-heading{
    font-size: 40px;
    font-weight: 900;
    color: rgba(39, 39, 39, 1);
    margin-bottom: 15px;
}
#feature-text{
    color: rgba(39, 39, 39, 0.6);
    font-size: 17px;
    margin-bottom: 50px;
}
/* Flowers div section  */
#featured-flowers{
    display: flex;
    justify-content: space-around;
    /* align-items:baseline; */
    gap: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
 }
 .fdiv{
    width: 420px;
    height: 500px;
    border-radius: 300px 300px 0px 0px;
    align-content: end;
 }
 #div1{
    background: rgba(167, 33, 98, 0.15);
 }
 #div2{
    background: rgba(5, 151, 160, 0.15);
 }
 #div3{
    background: rgba(71, 125, 17, 0.15);
 }
 #div1,#div2,#div3{
    background-repeat: no-repeat;
    background-position: bottom;
 }
 .fdiv>img{
    height: 80%;
    align-items:center;
    margin-top: 100px;
 }
 .flowername{
    margin: 10px auto;
    text-align: center;
    text-decoration: underline;
    color: rgba(39, 39, 39, 1);
    font-size: 20px;
    font-weight: 700;
 }
/* This is service section  */
#service-div{
    margin: 100px auto;
    background-color: rgba(39, 39, 39, 0.05);
    padding-top: 70px;
 }
 .serivce-img-div{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    padding-bottom: 50px;
 }
 .service-text{
    display: flex;
    align-items: center;
    padding-bottom: 70px;
    color: rgba(39, 39, 39, 0.8);
    font-size: 18px;
    font-weight: 600;
 }
 /* This is sell div style  */
#sell-div{
    background-color: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
 }
 .sell-text{
    padding-top: 150px;
    padding-bottom: 100px;
 }
 .sell-heading{
    font-size: 35px;
    font-weight: 800;
    padding-bottom: 20px;
 }
 .sell-para{
    text-align: center;
 }
 #makered{
    color: rgb(238, 50, 50);
 }
 /* This is instagram section  */
 .insta-text{
    text-align: center;
 }
 .insta-para{
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    padding-bottom: 50px;
 }
 .insta-img-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 100px;
 }
 .insta-img>img{
    /* width: 90%; */
    width: 250px;
 }
/* This is contact us section  */
#contact-sec{
    background-image: url(./imageFolder/Rectangle\ 9.png);
     margin:70px 50px;
     border: 2px solid red;
     /* padding-top: 140px;
     padding-bottom: 120px; */
     height: 380px;
  }
  .contact-img{
     width: 100%;
     height: 100%;
     object-fit: cover;
     overflow: hidden;
  }
 .contact-text{
    margin-top: 100px;
    text-align: center;   
 }
 .contact-form{
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 40px;
 }
 #contact-email{
    width: 700px;
    height: 64px;
    border-radius: 8px;
    border: 0;
    padding-left: 15px;
    font-size: 16px;
    color: rgba(39, 39, 39, 0.6);
 }
 #subscribe-btn{
    padding: 18px;
 }
 /* This is additional block design  */
#addi{
    background-color: #b92d4b;
    height: 400px;
    color: aliceblue;
 }
 #addi h1{
    padding-top: 50px;
    text-align: center;
 }
 .add{
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    padding-left: 50px;
 }
 .tips{
    font-size: 24px;
    font-weight: 600;
    justify-content: center;
    margin-bottom: 10px;
 }
.tips1>p>span{
    font-weight: 800;
}


/* Media queries  */
@media screen and (max-width:576px) {
    #header{
        flex-direction: column-reverse;
    }
    #heading{
        font-size: 34px;
    }
    #feature{
        padding-top: 40px;
    }
    #feature-heading{
        font-size: 30px;
    }
    #feature-text,.insta-para{
        /* margin: 0 20px; */
        font-size: 12px;
    }
    #featured-flowers{
        flex-direction: column;
        gap: 60px;
        margin-left: auto;
        margin-right: auto;
    }
    .fdiv{
        margin: 0 auto;
        width: 350px;
        height: 400px;
    }
    .fdiv>img{
        margin-top: 80px;
        margin-left: 50px;
     }
     .serivce-img-div,#sell-div,.insta-img-div,.contact-form{
        flex-direction: column;
     }
     .service-img{
        display: flex;
        flex-direction: row;
        padding-bottom: 20px;
        padding-left: 20px;
        gap: 10px;
        /* justify-content: center; */
        align-items: center;
        margin: 0;
     }
     .sell-text{
        padding: 25px;
     }
     #contact-email{
        width: 90%;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        height: 50px;
     }
     .contact-form{
        gap: 0;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
     }
     .contact-form>div{
        flex: 1;
     }
     #subscribe-btn,#contact-btn-div{
        margin-left: auto;
        margin-right: auto;
     }
     #contact-sec{
        /* padding: 10px auto; */
        height: auto;
     }
     .deal-heading{
        font-size: 30px;
        padding-bottom: 5px;
     }
}
