*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
/* Styling header section  */
header{
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(229, 84, 115, 0.1);
    min-width: 500px;
    height: 90vh;
    padding-bottom: 0px;
    gap: 25px;
}
.head-text{
    padding:20px 30px;
    width: 100%;
}
.heading{
    color: #272727;
    font-size: 60px;
    font-weight: 800;
}
.head-text>p{
    padding-top: 30px;
    padding-right: 20px;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding-bottom: 20px;
}
.head-img{
    margin: 0;
    position: bottom right;
    margin-bottom: 0;
    margin-left: 30px;
}
button{
    margin-top: 30px;
    border-radius: 5px;
    background: #E55473;
    color: rgba(255, 255, 255, 1);    
    padding: 16px 35px;
    font-weight: 800;
    border: 0;
    font-size: large;
}
button:hover{
    background-color: #b92d4b;
}
 /* featured section starts here  */
 #feature{
    padding-top: 150px;
    text-align: center;
 }
 .feature-heading{
    font-size: 40px;
    font-weight: 900;
    color: rgba(39, 39, 39, 1);
    margin-bottom: 15px;
 }
 .feature-text{
    color: rgba(39, 39, 39, 0.6);
    font-size: 17px;
    margin-bottom: 50px;
 }

 /* featured flowers div starts here  */
 #featured-flowers{
    display: flex;
    justify-content: space-around;
    /* align-items:baseline; */
    gap: 25px;
    padding-bottom: 50px;
 }
 .fdiv{
    width: 420px;
    height: 500px;
    border-radius: 300px 300px 0px 0px;
    align-content: end;
 }
 .img1{
    width: 500px;
    margin: auto;
 }
 .fdiv>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
 }
 .div1{
    background: rgba(167, 33, 98, 0.15);
    background-image: url(./imageFolder/pngwing\ 6.png);
    background-repeat: no-repeat;
    background-position: bottom;
 }
 .div2{
    background: rgba(5, 151, 160, 0.15);
    background-image: url(./imageFolder/pngwing\ 5.png);
    background-repeat: no-repeat;
    background-position: bottom;
 }
 .div3{
    background: rgba(71, 125, 17, 0.15);
    background-image: url(./imageFolder/pngwing\ 7.png);
    background-repeat: no-repeat;
    background-position: bottom;
 }
 .flowername-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;
 }
 .flowername{
    text-align: center;
    text-decoration: underline;
    color: rgba(39, 39, 39, 1);
    font-size: 20px;
    font-weight: 700;
 }
 /* This is service section  */
 #service-div{
    margin: 80px 50px;
    background-color: rgba(39, 39, 39, 0.05);
    padding-top: 70px;
 }
 .serivce-img{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
 }
 .service-text{
    display: flex;
    justify-content: space-around;
    padding-bottom: 70px;
    color: rgba(39, 39, 39, 0.8);
    font-size: 18px;
    font-weight: 600;
 }
 /* This is sell div style  */
 #sell-div{
    background-color: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
 }
 .sell-text{
    padding-top: 150px;
    padding-bottom: 100px;
 }
 .sell-heading{
    font-size: 35px;
    font-weight: 800;
    padding-bottom: 20px;
 }
 .sell-para{
    text-align: center;
 }
 /* This is instagram section  */
 .insta-text{
    text-align: center;
 }
 .insta-para{
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    padding-bottom: 50px;
 }
 .insta-img{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 100px;
 }
 /* This is contact us section  */
 #contact-sec{
    margin: 0;
    border: 2px solid red;
    margin-bottom: 50px;
    position: relative;
    margin-bottom: 100px;
 }
 .contact-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
 }
.contact-text{
   position: absolute;
   padding-top: 100px;
   top: 0;
   left: 0;
   right: 0;
   text-align: center;   
}
.contact-form{
   display: flex;
   justify-content: space-around;
   align-items: center;
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   padding-bottom: 120px;
   display: flex;
}
.contact-email{
   width: 700px;
   height: 40px;
}
.contact-btn{
   margin-left: -5px;
}
/* This is footer section  */
footer{
   height: 500px;
   background-color:#111010;
   text-align: center;
}
footer>h1{
   padding-top: 150px;
   padding-bottom: 30px;
   color: rgba(255, 255, 255, 1);
}
span{
   color: rgba(229, 84, 115, 1);
}
.footer-para{
   color: rgba(255, 255, 255, 0.9);
   font-size: 18px;
   padding-bottom: 20px;
   padding-top: 30px;
}
.copyright{
   color: rgba(255, 255, 255, 0.40);
   font-size: 16px;
   padding-top: 20px;
}